<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ValidateAd</servlet-name>
        <servlet-class>ValidateAd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreP</servlet-name>
        <servlet-class>StoreP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VaPa</servlet-name>
        <servlet-class>VaPa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginDao</servlet-name>
        <servlet-class>LoginDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewComplaint</servlet-name>
        <servlet-class>ViewComplaint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewComplaint1</servlet-name>
        <servlet-class>ViewComplaint1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidateAd</servlet-name>
        <url-pattern>/ValidateAd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreP</servlet-name>
        <url-pattern>/StoreP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VaPa</servlet-name>
        <url-pattern>/VaPa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginDao</servlet-name>
        <url-pattern>/LoginDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewComplaint</servlet-name>
        <url-pattern>/ViewComplaint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewComplaint1</servlet-name>
        <url-pattern>/ViewComplaint1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
